@import 'js/jsxc/scss/colors';
@import 'js/jsxc/scss/dep';

//fonts
$font_sans: Arial, sans-serif;
$font_serif: serif;

$window_bar_bg: #0082c9;
$window_bar_color: #c0dff1;
$window_bar_color_hover: #fff;

@import 'js/jsxc/scss/modules',
        'js/jsxc/scss/buddylist',
        'js/jsxc/scss/state',
        'js/jsxc/scss/emoticons',
        'js/jsxc/scss/roster',
        'js/jsxc/scss/window',
        'js/jsxc/scss/muc';

@import 'js/jsxc/scss/_jsxc.scss';
@import 'js/jsxc/scss/webrtc';

@import '_oc';
