//fonts
$font_sans: Arial, sans-serif;
$font_serif: serif;

$window_bar_bg: #0082c9;
$window_bar_color: #c0dff1;
$window_bar_color_hover: #fff;

@import "oc";

.jsxc-bar--window, .jsxc-window-item .jsxc-memberlist {
    background-color: $window_bar_bg;
    color: $window_bar_color;

    :hover {
        // color: $window_bar_color_hover;
    }
}
