#jsxc_submit {
  font-size: 15px;
  padding: 3px 5px;
  opacity: 1;
  font-weight: normal;

  &:hover {
    opacity: 0.7;
  }
}

#ojsxc {
  .form-group {
    overflow: hidden;

    >label,
    >.form-col {
      float: left;
    }
  }

  label {
    box-sizing: border-box;
    padding: 6px 15px 6px 0;
    width: 100%;
    margin: 3px 0;

    @media (min-width: 768px) {
      width: 33%;
      text-align: right;
    }
  }

  .form-no-padding {
    padding: 0;
  }

  .form-col {
    width: 100%;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 66%;
    }

    input {
      display: block;
    }
  }

  .form-col-offset {
    @media (min-width: 768px) {
      padding-left: 33%;
    }
  }

  input {
    box-sizing: border-box;
    padding-right: 15px;
    width: 100%;

    &[type='checkbox'] {
      margin: 13px 0;
      width: auto;
      min-height: auto;
      height: auto;
    }

    &[type='radio'] {
      width: auto;
      min-height: auto;
      height: auto;
    }

    &[readonly] {
      background-color: #f1f1f1;
    }

    &:invalid {
      border: 1px solid red;
      position: relative;
    }

    &.jsxc-loading {
      background-image: linear-gradient(to right, #fff, #fff);
      background-position-x: 10%;
      background-size: 30px 100%;
      background-repeat: no-repeat;
      animation: jsxc-left-to-right 5s linear infinite;
    }
  }

  em,
  .boshUrl-msg {
    display: block;
    clear: left;
    margin-bottom: 0.8em;
  }

  .text-left {
    text-align: left;
  }

  h3 {
    width: 100%;

    @media (min-width: 768px) {
      width: 33%;
      border-bottom: 1px solid #e1e1e1;
    }
  }

  .text {
    margin-bottom: 10px;
  }
}

%msg {
  border: 1px solid #fff;
  color: #030;
  padding: 11px;
  padding-left: 38px;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  margin: 3px;
}

.jsxc_success {
  @extend %msg;

  background-image: url("../img/checkmark-green.svg");
}

.jsxc_fail {
  @extend %msg;

  background-image: url("../img/cross-red.svg");
  background-position: 12px 5px;
}



#header .ojsxc-chat-icon {
  width: 45px;
  height: 45px;
  float: right;
  background-image: url("../img/chat-icon-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}


.nav-icon-javascript-xmpp-client {
  background-image: url("../img/app-black.svg");
}

.jsxc-internal-server {
  #jsxc_buddylist .jsxc_more {
    display: none;
  }

  #jsxc_menu {

    .jsxc_joinChat,
    .jsxc_addBuddy {
      display: none;
    }
  }
}
